/* evenSquare */
.evenSquare {
  border-radius: 0px;
  background: #fcee2f86;
  border: 0px;
  float: left;
  font-size: 35px;
  padding: 0;
  text-align: center;
  width: 70px;
  height: 70px;
}

.evenSquare:hover {
  background: #5351db;
}

.evenSquare:focus {
  outline: none;
}

.kbd-navigation .evenSquare:focus {
  background: #ddd;
}

/* oddSquare */
.oddSquare {
  border-radius: 0px;
  background: #ffffffad;
  border: 0px;
  float: left;
  font-size: 35px;
  padding: 0;
  text-align: center;
  width: 70px;
  height: 70px;
}

.oddSquare:hover {
  background: #5351db;
}

.oddSquare:focus {
  outline: none;
}

.kbd-navigation .oddSquare:focus {
  background: #ddd;
}

/* usedSquare */
.usedSquare {
  border-radius: 0px;
  background: #ff3437;
  border: 0px;
  float: left;
  padding: 0;
  text-align: center;
  width: 70px;
  height: 70px;
}

.usedSquare:hover {
  background: #636364;
}

.usedSquare:focus {
  outline: none;
}

.kbd-navigation .usedSquare:focus {
  background: #ddd;
}
